
.idea

!/docker/logs/nginx/README.md
/docker/logs/nginx/*

/docker/mongo/shared/*.json

/mongo.txt

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
